{
    // Spellchecker
    // @ijmbarr/jupyterlab_spellchecker:plugin
    // Spellchecker settings.
    // ***************************************

    // Language of the spellchecker
    // Language code, e.g. en-us
    "language": "de-de"
}